.playerInfo-status__online {
  color: rgba($color: green, $alpha: 1.0);
}

.playerInfo-status__offline {
  color: rgba($color: gray, $alpha: 1.0);
}

.playerInfo-emptyDescription {
  color: rgba($color: gray, $alpha: 1.0);
}
