.app-playerInfo {
  display: grid;

  grid-template-columns: 1fr 2fr;

  align-content: center;
  align-self: flex-start;
}

.playerInfo-avatar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.playerInfo-name {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.playerInfo-status {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.playerInfo-description {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.playerInfo-kickButton {
  grid-column: 4 / 5;
  grid-column: 1 / 2;
}
